<!DOCTYPE html>
<html lang="en">
<head>
    
         {{>headerlinks}}

</head>
<body>
    
   {{>navbar}}
    
   <!-- main header -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto"> 
        <div class="row">
            <!-- left div -->
            <div class="col-md-6 col-12 main_header_left">
              <figure>
                <img src="./images/gh.avif" alt="gh.avif">
              </figure>
            </div>
             <!-- right div -->
             <div class="col-md-6 col-12 main_header_right">
                <h1>About Us</h1>
                <p>bdhdnnsfnrngfnfrnhtf fjtnjtrdtdjtgmghjdt fgrsjnfj</p>
                </div>
        </div>
        </div>
    </div>
   </div>

           {{>footer}}             

</body>
</html>