<!DOCTYPE html>
<html lang="en">
<head>
    
         {{>headerlinks}}

</head>
<body>
    
   {{>navbar}}
    
   <!-- main header -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto"> 
        <div class="row">
            <!-- left div -->
            <div class="col-md-6 col-12 main_header_left">
              <figure>
                <img src="./images/gh.avif" alt="gh.avif">
              </figure>
            </div>
             <!-- right div -->
             <div class="col-md-6 col-12 main_header_right">
                <h1>About Us</h1>
                <p id="para">i am a software developer learning more about developing </p>
                 <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/atul-sharma-841501263/" role="button"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                
        </div>
        </div>
    </div>
   </div>

           {{>footer}}             

</body>
</html>